#########################################################################
# SPRINGBOOT
#########################################################################
## Configuration: Server
SPRING_PORT=8001

#########################################################################
# HASURA
#########################################################################
## Configuration: Server behavior
HASURA_DEV_MODE=true
HASURA_ENABLE_CONSOLE=true
HASURA_ADMIN_SECRET=admin-secret

## DATABASE: Connection settings
POSTGRES_HOST=db
POSTGRES_DB=glofox
POSTGRES_USER=glofox
POSTGRES_PASSWORD=super-secret
#POSTGRES_PASSWORD_FILE=/run/secrets/db-password

#########################################################################
# REMOTE SCHEMAS
#########################################################################
## backend: Custom logic service
HASURA_BACKEND_API_URL=http://backend
HASURA_BACKEND_API_SECRET=super-secret-backend
#HASURA_BACKEND_API_URL=http://host.docker.internal:8080