<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:postgresql://${POSTGRES_HOST}:5432/${POSTGRES_DB}</property>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.username">${POSTGRES_USER}</property>
        <property name="connection.password">${POSTGRES_PASSWORD}</property>

        <mapping class="com.glofox.test.backend.entity.Activity"/>
        <mapping class="com.glofox.test.backend.entity.ActivityType"/>
        <mapping class="com.glofox.test.backend.entity.Booking"/>
        <mapping class="com.glofox.test.backend.entity.Business"/>
        <mapping class="com.glofox.test.backend.entity.BusinessType"/>
        <mapping class="com.glofox.test.backend.entity.Event"/>
        <mapping class="com.glofox.test.backend.entity.EventType"/>
        <mapping class="com.glofox.test.backend.entity.Membership"/>
        <mapping class="com.glofox.test.backend.entity.User"/>

        <!-- DB schema will be updated if needed -->
        <!-- <property name="hibernate.hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>